<!DOCTYPE html>
<html>
  <head>
    <title>Experimental PADS Bot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Experimental PADS Bot</h1>
    <p>Testing only. Not for Production use.</p>
    <iframe src='https://webchat.botframework.com/embed/padsbot-bot?s=OPKsZxiNvQU.z79qYJLQcYesrOdKE8o6H3nB5UeEM3h8mRegS0TJ3dE'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
  </body>
</html>
