<!DOCTYPE html>
<html>
  <head>
    <title>Experimental PADS Bot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Experimental PADS Bot</h1>
    <p>Testing only. Not for Production use.</p>
    <iframe src='https://webchat.botframework.com/embed/padsbot?s=4sZOdMgPAMs.7P7sEUsRJVQ_Vw650RkTmrV1PeF2VvOuYkQrdEJZJiA'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
  </body>
</html>
